<!DOCTYPE html>
<html>
  <head>
    <title>DB Connector</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag 'logo.png', width: 50 %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item <%= 'active' if controller_name == 'account' %>">
                <a class="nav-link" href="/account">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item <%= 'active' if controller_name == 'sources' %>">
                <a class="nav-link" href="/sources">Databases</a>
              </li>
              <li class="nav-item <%= 'active' if controller_name == 'spreadsheets' %>">
                <a class="nav-link" href="/spreadsheets">Spreadsheets</a>
              </li>
              <li class="nav-item <%= 'active' if controller_name == 'spreadsheet_jobs' %>">
                <a class="nav-link" href="/spreadsheet_jobs">ReportJobs</a>
              </li>
              <li class="nav-item <%= 'active' if controller_name == 'job_notifications' %>">
                <a class="nav-link" href="/job_notifications">Notifications</a>
              </li>
              <li class="nav-item <%= 'active' if controller_name == 'scheduled_notifications' %>">
                <a class="nav-link" href="/scheduled_notifications">CRON</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_out">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="mt-2 <%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
      <!-- Content here -->
    </div>
    <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-md-2 col-md">
            <small class="d-block mb-3 text-muted">© 2022</small>
          </div>
          <div class="col-md-6 col-md">
            <ul class="list-unstyled text-small list-inline">
              <li class="list-inline-item"><a class="text-muted" href="/privacy-policy">Privacy and Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
